<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    
    
<title></title>
</head>
<body>
    
    <form method ="post" action ="/">
        <h1>STUDENT ENROLLMENT FORM</h1>
        <h3>Bearville School District~2022-2023</h3>
        <h2>SECTION 1: STUDENT INFORMATION</h2>
        <div class="Yourmom">
        <label>Name</label>
        <input type ="text" name ="name"> <br>

        <label for="birthday">Date of Birth</label>
        <input type ="date" name ="date"> <br>

        <label>City & State</label>
        <input type ="text" name="add"> <br>

        <label>Street</label>
        <input type="text" name="st"><br>

        <label>Zip Code</label>
        <input type="text" name="zip"> <br>

        <label>Grade</label>
        <input type="text" name="grade"> <br><br>

        <label for="school">School:</label>
        <select id="school" name="school">
            <option value=""></option>
            <option value="Viva Verde High School">Viva Verde High School</option>
            <option value="Cactus Canyon High School">Cactus Canyon High School</option>
            <option value="Aquinas High School">Aquinas High School</option>
            <option value="pazla High School">Pazla High School</option>
        </select><br>

        <label>Gender</label>
        <input type="text" name="Gender"> <br>
        
        <label> Important Notes</label>
        <textarea name="note" rows="2" cols="35"></textarea>
  <br>








        </div>
        <h4>SECTION 2: PARENT/GUARDIAN INFORMATION</h4>
        <div class="Yourdad">
        <label>Name</label>
        <input type ="text" name ="Adult"> <br>
        
        <label>Relationship</label>
        <input type ="text" name ="relationship"> <br>

        <label>City & State</label>
        <input type ="text" name="Parentadd"> <br>

        <label>Street</label>
        <input type="text" name="sts"><br>

        <label>Zip Code</label>
        <input type="text" name="zips"> <br>

        <label>Phone</label>
        <input type ="text" name ="phone"> <br>

        <label> Email</label>
        <input type ="email" name ="email"> <br>
        
        <label>Place of Employment</label>
        <input type ="text" name="poe"> <br>

        <label>Important Notes</label>
        <textarea name="notes" rows="2" cols="35"></textarea>
  <br><br>
    </div>
    <div class="button">
        <button>Submit</button>
    </div>
        
    </form>
</div>
<script src="app.js"></script>
</body>
</html>